<h1>Home Page</h1>

<form action="/hash" method="POST">
    <input type="email" name="email" placeholder="Email.." required>
    <input type="passwrod" name="password" placeholder="Password.." required>
    <input type="submit" value="Hash">
</form>